@font-face {
    font-family: 'BWGradual';
    src: url('fonts/BwGradual-Regular.woff');
}

body {
    margin: 0px; /* TODO: 0px? */
    padding: 0px; /* TODO: does body anywhere have paddings? */ /* TODO: 0px? */
    font-size: 16px;
}

.container {
    max-width: 1400px;
    margin: auto;
    padding: 25px 0px 25px; /* TODO: do you want container to have vertical paddings everywhere? */ /* TODO: 0px? */
}

.push-apart {
    display: flex;
    justify-content: space-between;
}

nav li {
    display: inline-block;
    margin: 3px 60px 2px 0px; /* TODO: 0px? */
}

nav li:last-child {
    margin-right: 0px; /* TODO: 0px? */
}

ul {
    margin: 0px; /* TODO: 0px? */
    padding: 0px; /* TODO: 0px? */
}

nav a {
    font-family: 'BWGradual';
    line-height: 25px;
    text-decoration: none;
    color: black;
}

nav a::after {
    content: ""; /* TODO: define which quotes you are using - double or single - and use them everywhere in the doc */
    display: block;
	width: 0;
    border-radius: 10px; /* TODO: why 10px? */
	height: 2px;
	background-color: #FF8500;
	transition: width 0.3s ease-out; /* TODO: since there is nothing to transit except width - you can omit this value */
}

nav a:hover:after { /* TODO: pseudo elements should use double colon */
	width: 100%;
}
