@font-face {
    font-family: "BWGradual";
    src: url("fonts/BwGradual-Regular.woff");
}

body {
    margin: 0;
    font-size: 16px;
}

.container {
    max-width: 1400px;
    margin: auto;
}

header {
    padding: 25px 0 25px;
}

.push-apart {
    display: flex;
    justify-content: space-between;
}

nav li {
    display: inline-block;
    margin: 3px 60px 2px 0;
}

nav li:last-child {
    margin-right: 0;
}

ul {
    margin: 0;
    padding: 0;
}

nav a {
    font-family: "BWGradual";
    line-height: 25px;
    text-decoration: none;
    color: black;
}

nav a::after {
    content: "";
    display: block;
	width: 0;
    border-radius: 1px;
	height: 2px;
	background-color: #FF8500;
	transition: 0.3s ease-out;
}

nav a:hover::after {
	width: 100%;
}
